<%= @comment.errors.full_messages.join(", ") %>
<%= form_for [@post, @comment], remote: true do |f| %>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
